<ion-header>

  <ion-navbar>
    <ion-title>Customize</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="backHome()">
        <ion-icon name="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <p>Si-Tag</p>
  <p>Solución integral para la trazabilidad de elementos de principio a fin</p>
  <p>User: {{getUsername}}</p>

  <p>Log in as ...</p>

  <p>Scanned item</p>
  <p>{{getProductLabel}}</p>

  <div *ngIf="category_list">
    <ion-item>
      <ion-label>Seleccione un categoría</ion-label>
      <ion-select [(ngModel)]="categoria" #category (ionChange)="categorySelected(category.value)">
        <ion-option *ngFor="let info of category_list" value="{{info}}">{{info}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="subcategory_list">
    <ion-item [hidden]="check_categorySelected">
      <ion-label>Seleccione un subcategoría</ion-label>
      <ion-select [(ngModel)]="subcategoria" #subcategory (ionChange)="subcategorySelected(subcategory.value)">
        <ion-option *ngFor="let info of subcategory_list" value="{{info}}">{{info}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <br>

  <form #data="ngForm" (ngSubmit)="save(data)" novalidate>
    <ion-item *ngFor="let element of element_list">
      <ion-label color="primary" Text-Capitalize>{{element.name}}</ion-label>
      <ion-input placeholder="{{element.value}}" name="{{element.name}}" ngModel></ion-input>
    </ion-item>

    <button ion-button block color="primary">Save</button>
  </form>
</ion-content>
