<ion-header>

  <ion-navbar>
    <ion-title>Register Sheet</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="backHome()">
        <ion-icon name="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p>Si-Tag</p>
  <p>Solución integral para la trazabilidad de elementos de principio a fin</p>
  <p>User: {{getUsername}}</p>

  <p>Register Directory</p>

  <!-- Muestra los datos de cada producto registrado hasta ahora por ese usuario -->
  <div *ngIf="register_sheet">
    <div *ngFor="let register of register_sheet">
      <b>{{register.label}}</b>
      <b Text-Capitalize>{{register.type}}</b>
      <div *ngFor="let attributes of register.attributes">
        {{attributes.name}}: {{attributes.value}}
      </div>
      <br>
    </div>
  </div>
</ion-content>
