<ion-header>
  <ion-navbar>
    <ion-title>General Info</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="backHome()">
        <ion-icon name="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p>Si-Tag</p>
  <p>Solución integral para la trazabilidad de elementos de principio a fin</p>
  <p>User: {{getUsername}}</p>
  <p>{{getProductLabel}}</p>


  <!-- <h4>General Info</h4>
  <b>Identification</b> -->
  <div *ngIf="ordered_data">
    <ion-grid *ngFor="let info of ordered_data">
      <h4 Text-Capitalize>{{info[2].category}}</h4>
      <!-- <b Text-Capitalize>{{info[3].subcategory}}</b> -->
      <ion-row>
        <ion-col Text-Capitalize>{{info[0].name}}</ion-col>
        <ion-col>{{info[1].value}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <h4 [hidden]="hasLocation">Location</h4>
  <b [hidden]="hasLocation">GPS position</b>
  <ion-grid [hidden]="hasLocation">
    <ion-row>
      <ion-col>Latitude</ion-col> <ion-col>{{attr_latitude}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Longitude</ion-col> <ion-col>{{attr_longitude}}</ion-col>
    </ion-row> -->
  <!-- </ion-grid> -->
</ion-content>
