<ion-header>
  <ion-navbar color="primary">
    <ion-title>General Info</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="backHome()">
        <ion-icon name="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div [innerHTML]=texto_cabecera></div>
  <p>User: {{getUsername}}</p>
  <p>{{getProductLabel}}</p>


  <!-- Comprueba si la variable ordered_data está disponible. Carga los datos contenidos en esta variable y los muestra (category, name, value). -->
  <div *ngIf="ordered_data">
    <ion-grid *ngFor="let info of ordered_data">
      <h4 Text-Capitalize>{{info[2].category}}</h4>
      <!-- <b Text-Capitalize>{{info[3].subcategory}}</b> -->
      <ion-row>
        <ion-col Text-Capitalize>{{info[0].name}}</ion-col>
        <ion-col>{{info[1].value}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
